.user {
  min-height: 208px;
  background-color: var(--light-2);
  display: flex;
  align-items: flex-start;
  gap: 1em;
  border-radius: 1em;
  padding: 1.5em;
}

.user__avatar {
  flex: 1 1 97px;
  max-width: 97px;
}

.user__info {
  flex: 1 1 calc(100% - 113px);
  max-width: calc(100% - 113px); /* 166px */
}

.user__name {
  display: block;
  text-decoration: none;
  margin-bottom: 4px;
  font-family: var(--font-family-heading);
  color: var(--dark);
  font-size: var(--text-4);
}

.user__location {
  margin-bottom: 16px;
  font-family: var(--font-family-body);
  font-size: var(--text-2);
  color: var(--dark);
}

.user__tags {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.25em;
}

.user:hover,
.user:active {
  box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
  border: var(--border);
}

@media screen and (min-width: 409px) {
  .user__info {
    flex: 1 1 166px;
    max-width: 166px;
  }
}
